@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {  
    .nav-link {
        display: inline-flex;
        align-items: center;
        gap: var(--spacing-2);
        padding-inline: var(--spacing-5);
        padding-block: var(--spacing-2);
        border-radius: var(--radius-md);
        background: transparent;
        text-decoration: none;
        transition: background-color .15s ease, color .15s ease, box-shadow .15s ease;
    }

    .nav-link:hover {
        @media (hover: hover) {
            color: var(--color-violet-500);
            text-decoration: underline;
        }
    }

    .nav-link:focus {
        outline: none;
        box-shadow: var(--ring);
    }
}